<div class="expandColumn">
    <button
        mat-icon-button
        (click)="updateRow()"
        style="width: 40px; height: 40px; line-height: 40px"
    >
        <mat-icon>{{
            params?.data.isExpanded ? "expand_less" : "expand_more"
        }}</mat-icon>
    </button>
</div>
<!-- <div class="tableWrapper">
<table mat-table *ngIf="dataSource" [dataSource]="dataSource">
    <ng-container
        *ngFor="let item of columns; let i = index"
        [matColumnDef]="item"
    >
        <ng-container>
            <th mat-header-cell *matHeaderCellDef mat-sort-header>{{item}}</th>
            <td mat-cell *matCellDef="let element">
                <span class="data" *ngIf="element[item].type !== 'object'; else jsonViewer">
                    <span style="color: grey;" [style.display]="element[item] !== null && 'none'">
                        <i>NULL</i>
                    </span>
                    <span [style.display]="element[item] === null && 'none'">
                        {{ element[item].value }}
                    </span>
                </span>
                <ng-template #jsonViewer>

                    <ngx-json-viewer [json]='element[item].value'></ngx-json-viewer>
                </ng-template>
            </td>
        </ng-container>
    </ng-container>
    <tbody>
        <tr mat-header-row *matHeaderRowDef="columns"></tr>
        <tr mat-row *matRowDef="let row; index as i; columns: columns"></tr>
    </tbody>
</table>
</div> -->
