:host {
    position: relative;
    background-color: #fafafa;
    max-height: calc(100% - 1rem);
    overflow: hidden;
}
.frame {
    border: 0;
    width: calc(100% - 1rem);
    height: calc(100vh - 13.3rem);
    margin: 0 0 0 1rem;
}
