.example-container-setting {
	flex: 1;
	max-width: 100%;
	margin: 0 15px 15px 0;
	display: inline-block;
	vertical-align: top;
}
.example-list {
	border: solid 2px #ccc;
	min-height: 60px;
	background: white;
	border-radius: 4px;
	overflow: hidden;
	display: block;
	&.pos-sticky {
        position: sticky;
        top: 0;
    }
	&.disabled {
		.example-box {
			background-color: #eee;
		}
	}
	&.cdk-drop-list-dragging {
		.example-box {
			&:not(.cdk-drag-placeholder) {
				transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
			}
		}
	}
}
.example-box {
	padding: 0.3rem;
    border-bottom: solid 1px #ccc;
	color: rgb(92, 92, 92);
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	box-sizing: border-box;
	cursor: move;
	background-color: white;
	font-size: 13px;
    z-index: 1000001 !important;
	&:last-child {
		border: none;
	}
}
.cdk-drag-preview {
	box-sizing: border-box;
	border-radius: 4px;
	box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
              0 8px 10px 1px rgba(0, 0, 0, 0.14),
              0 3px 14px 2px rgba(0, 0, 0, 0.12);
}
.cdk-drag-placeholder {
	opacity: 0;
}
.cdk-drag-animating {
	transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}