<div [style.text-align]="isNumber && 'right'">
    <span
        [style.display]="isNULL && 'none'"
        [style.color]="isNumber && 'purple'"
        [style.height]="rowHeight+8+'px'"
        [style.whiteSpace]="isMultiLine ? 'pre-wrap' : ''"
        [style.overflow]="'auto'"
        [style.display]="'block'"
        [style.lineHeight]="defaultRowHeight+'px'"
    >
        {{ value }}
    </span>

    <span style="color: grey;" [style.display]="!isNULL && 'none'">
        <i>NULL</i>
    </span>
</div>
