<mat-toolbar color="primary" class="ukranian-bg">
    <button
        mat-icon-button
        class="example-icon"
        (click)="isLeftPanel = !isLeftPanel"
    >
        <mat-icon>menu</mat-icon>
    </button>
    <span style="font-size: 20px !important">ClickHouse Mate</span>
    <span class="example-spacer"></span>
    <!-- <span> {{ dbLink }} : {{ dbLogin }} </span> -->
    <button
        [matTooltip]="'READONLY TURN ' + (isReadonly ? 'ON' : 'OFF') + ''"
        mat-icon-button
        class="example-icon"
        (click)="setReadonly(!isReadonly)"
    >
        <mat-icon *ngIf="isReadonly">lock</mat-icon>
        <mat-icon *ngIf="!isReadonly">lock_open</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" (click)="isAccess = !isAccess">
        <mat-icon>settings</mat-icon>
    </button>
</mat-toolbar>

<div style="width: 100%; height: calc(100vh - 4rem)">
    <as-split direction="horizontal" [gutterSize]="5">
        <as-split-area [size]="15" *ngIf="isLeftPanel" [order]="0">
            <as-split direction="vertical" [gutterSize]="5">
                <as-split-area
                    [size]="87"
                    [order]="0"
                    style="position: relative"
                >
                    <mat-accordion>
                        <mat-expansion-panel [expanded]="true">
                            <mat-expansion-panel-header>
                                <mat-panel-title> DB Tree </mat-panel-title>
                            </mat-expansion-panel-header>
                            <div *ngIf="this.dbTreeData.length > 0">
                                <tree-filter
                                    [data]="dbTreeData"
                                    [isFilter]="false"
                                    [fileIcon]="true"
                                    (clickRow)="onDbChoose($event)"
                                ></tree-filter>
                            </div>
                        </mat-expansion-panel>
                        <mat-expansion-panel>
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    Query Presets
                                </mat-panel-title>
                            </mat-expansion-panel-header>
                            <div
                                class="archive-line"
                                *ngFor="let item of PopularQueries"
                                (click)="SQL(item)"
                            >
                                {{ item }}
                            </div>
                        </mat-expansion-panel>
                        <mat-expansion-panel>
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    Query History
                                </mat-panel-title>
                            </mat-expansion-panel-header>

                            <div
                                *ngFor="let item of SqlArchive"
                                (click)="SQL(item)"
                                class="archive-line"
                            >
                                {{ item }}
                            </div>
                        </mat-expansion-panel>
                    </mat-accordion>
                </as-split-area>
                <as-split-area
                    [size]="13"
                    [order]="0"
                    style="position: relative"
                    *ngIf="dataForFile?.statistics"
                >
                    <div style="padding: 1rem">
                        <div>
                            <strong>Elapsed: </strong>
                            <span
                                >{{
                                    dataForFile?.statistics?.elapsed | number
                                }}
                                sec</span
                            >
                        </div>
                        <div>
                            <strong>Read rows:</strong>
                            <span>{{
                                dataForFile?.statistics?.rows_read
                            }}</span>
                        </div>
                        <div>
                            <strong>Data size:</strong>
                            <span
                                >{{
                                    dataForFile?.statistics?.bytes_read
                                }}
                                B.</span
                            >
                        </div>
                    </div>
                </as-split-area>
            </as-split>
        </as-split-area>
        <as-split-area
            [size]="85"
            [order]="1"
            style="display: flex; flex-direction: column"
        >
            <as-split direction="vertical" [gutterSize]="5">
                <as-split-area
                    [size]="10"
                    [order]="0"
                    style="position: relative"
                >
                    <ace-editor-ext
                        [(sqlRequest)]="sqlRequest"
                        (ready)="onClickRun($event)"
                        [dictionaryFull]="dictionary"
                    ></ace-editor-ext>
                    <!-- <ace-editor
                        [(text)]="sqlRequest"
                        [mode]="'sql'"
                        [theme]="'sqlserver'"
                        [readOnly]="false"
                        class="editor"
                        #editor
                    ></ace-editor> -->

                    <!-- <button
                        class="btn-send"
                        matSuffix
                        mat-icon-button
                        matTooltip="Ctrl + Enter"
                        color="primary"
                        aria-label="Run"
                        (click)="onClickRun()"
                    >
                        <mat-icon>send</mat-icon>
                    </button> -->
                </as-split-area>
                <as-split-area [size]="90">
                    <div class="data-place">
                        <ng-container
                            *ngIf="details.length === 0; else hasData"
                        >
                            <h1>No Data</h1>
                            <button
                                mat-flat-button
                                color="warn"
                                *ngIf="errorMessage"
                                style="white-space: pre-wrap; width: 100%"
                            >
                                {{ errorMessage }}
                            </button>
                        </ng-container>
                        <ng-template #hasData>
                            <custom-ag-grid
                                *ngIf="isObjectData(); else preText"
                                class="example-table-containers"
                                [itemList]="[
                                    'Save as JSON',
                                    'Save as JSONCompact',
                                    'Save as CSV'
                                ]"
                                (menuClick)="save($event)"
                                [details]="details"
                                [columns]="columns"
                            ></custom-ag-grid>
                            <ng-template #preText>
                                <pre>{{ details }}</pre>
                            </ng-template>
                        </ng-template>
                    </div>
                </as-split-area>
            </as-split>
        </as-split-area>
    </as-split>
</div>

<app-login-form
    [isAccess]="isAccess"
    [settings]="{ dbLink, dbLogin, dbPassword }"
    (ready)="connectToDB($event)"
></app-login-form>
