<mat-toolbar color="primary" class="ukranian-bg" *ngIf="!getParam.kiosk">
    <button
        mat-icon-button
        class="example-icon"
        (click)="isLeftPanel = !isLeftPanel"
    >
        <mat-icon>menu</mat-icon>
    </button>
    <span style="font-size: 20px !important">ClickHouse Mate</span>
    <span
        style="margin-left: 1rem; margin-bottom: -15px"
        *ngIf="dbItems && dbItems.length > 1"
    >
        <mat-form-field appearance="outline">
            <!-- <mat-label>Connection</mat-label> -->
            <mat-select [(value)]="selectedDB">
                <mat-option
                    *ngFor="let item of dbItems"
                    [value]="item"
                    [disabled]="item.value.isSucceeded !== true"
                >
                    {{ item.viewValue }}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </span>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon" (click)="openDialog()">
        <mat-icon>link</mat-icon>
    </button>
    <button
        [matTooltip]="'READONLY TURN ' + (isReadonly ? 'ON' : 'OFF') + ''"
        mat-icon-button
        class="example-icon"
        (click)="setReadonly(!isReadonly)"
    >
        <mat-icon *ngIf="isReadonly">lock</mat-icon>
        <mat-icon *ngIf="!isReadonly">lock_open</mat-icon>
    </button>
    <button
        [matTooltip]="'DARK MODE TURN ' + (isDarkMode ? 'ON' : 'OFF') + ''"
        mat-icon-button
        class="example-icon"
        (click)="isDarkMode = !isDarkMode"
    >
        <mat-icon *ngIf="isDarkMode">dark_mode</mat-icon>
        <mat-icon *ngIf="!isDarkMode">brightness_5</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" (click)="isAccess = !isAccess">
        <mat-icon>settings</mat-icon>
    </button>
</mat-toolbar>

<div
    [ngClass]="{ dark: isDarkMode }"
    [ngStyle]="{
        width: '100%',
        height: getParam.kiosk ? '100vh' : 'calc(100vh - 4rem)'
    }"
>
    <as-split direction="horizontal" [gutterSize]="5">
        <as-split-area
            [size]="15"
            [visible]="
                isLeftPanel && (getParam.kiosk ? !!getParam.panel : true)
            "
            [useTransition]="true"
            [order]="0"
            style="background: #fff"
        >
            <mat-accordion class="dashboard-accordion">
                <mat-expansion-panel
                    hideToggle
                    [expanded]="!!dbTreeData && dbTreeData.length > 0"
                >
                    <mat-expansion-panel-header>
                        <mat-panel-title> DB Tree </mat-panel-title>
                    </mat-expansion-panel-header>
                    <div
                        *ngIf="!dbTreeData || dbTreeData.length === 0"
                        style="height: 300px"
                    >
                        <loading></loading>
                    </div>
                    <div *ngIf="dbTreeData && dbTreeData.length > 0">
                        <tree-filter
                            [data]="dbTreeData"
                            [isFilter]="false"
                            [fileIcon]="true"
                            (clickRow)="onDbChoose($event)"
                        ></tree-filter>
                    </div>
                </mat-expansion-panel>
                <mat-expansion-panel hideToggle>
                    <mat-expansion-panel-header>
                        <mat-panel-title> Query Presets </mat-panel-title>
                    </mat-expansion-panel-header>
                    <div
                        class="archive-line"
                        *ngFor="let item of PopularQueries"
                        (click)="SQL(item)"
                    >
                        {{ item }}
                    </div>
                </mat-expansion-panel>
                <mat-expansion-panel hideToggle>
                    <mat-expansion-panel-header>
                        <mat-panel-title> Query History </mat-panel-title>
                    </mat-expansion-panel-header>

                    <div *ngFor="let item of SqlArchive" class="archive-line">
                        <div (click)="SQL(item)">
                            {{ item }}
                        </div>
                        <span>
                            <button
                                mat-icon-button
                                (click)="removeItemHistory(item)"
                            >
                                <!-- <mat-icon class="mat-18">ligature</mat-icon> -->
                                <mat-icon>close</mat-icon>
                            </button>
                        </span>
                    </div>
                </mat-expansion-panel>

                <mat-expansion-panel
                    hideToggle
                    *ngIf="isDocsShows"
                    [expanded]="isDocsShows"
                >
                    <mat-expansion-panel-header>
                        <mat-panel-title> Docs </mat-panel-title>
                    </mat-expansion-panel-header>

                    <app-ch-help
                        style="height: calc(100% - 8rem)"
                    ></app-ch-help>
                </mat-expansion-panel>
            </mat-accordion>
        </as-split-area>
        <as-split-area
            [size]="85"
            [order]="1"
            style="display: flex; flex-direction: column"
        >
            <as-split direction="vertical" [gutterSize]="5">
                <as-split-area
                    [ngStyle]="{
                        display:
                            !(getParam.kiosk ? !!getParam.query_field : true) &&
                            'none'
                    }"
                    [size]="10"
                    [order]="0"
                    style="position: relative"
                >
                    <ace-editor-ext
                        [isDarkMode]="isDarkMode"
                        [(sqlRequest)]="sqlRequest"
                        (ready)="onClickRun($event)"
                        [dictionaryFull]="dictionary"
                    ></ace-editor-ext>
                </as-split-area>
                <as-split-area [size]="90" #containerSplitter>
                    <mat-tab-group class="mini-tabs">
                        <mat-tab
                            label="Table"
                            *ngIf="getParam.kiosk ? getParam.table : true"
                        >
                            <div
                                class="data-place"
                                [style.height.px]="
                                    (getParam.kiosk &&
                                        !getParam.query_field &&
                                        containerSplitter.offsetHeight) ||
                                    containerSplitter.offsetHeight - 22
                                "
                            >
                                <ng-container
                                    *ngIf="details.length === 0; else hasData"
                                >
                                    <h1 *ngIf="!isLoadingDetails">No Data</h1>
                                    <div
                                        class="error-message"
                                        mat-flat-button
                                        color="warn"
                                        *ngIf="
                                            errorMessage && !isLoadingDetails
                                        "
                                        style="
                                            white-space: pre-wrap;
                                            width: 100%;
                                        "
                                    >
                                        {{ errorMessage }}
                                    </div>
                                </ng-container>
                                <ng-template #hasData>
                                    <div class="short-stat">
                                        {{ getStatistic(dataForFile) }}
                                    </div>
                                    <custom-ag-grid
                                        *ngIf="isObjectData(); else preText"
                                        class="example-table-containers"
                                        [itemList]="[
                                            'Save as JSON',
                                            'Save as JSONCompact',
                                            'Save as CSV'
                                        ]"
                                        (menuClick)="save($event)"
                                        [details]="details"
                                        [columns]="columns"
                                        [(pageSize)]="pageSize"
                                        [(isPaginator)]="isPaginator"
                                        (rowClick)="openRow($event)"
                                    ></custom-ag-grid>
                                    <ng-template #preText>
                                        <pre>{{ details }}</pre>
                                    </ng-template>
                                </ng-template>
                                <div
                                    class="data-loader"
                                    *ngIf="isLoadingDetails"
                                >
                                    <loading></loading>
                                </div>
                            </div>
                        </mat-tab>
                        <mat-tab
                            label="Chart"
                            *ngIf="getParam.kiosk ? getParam.chart : true"
                        >
                            <ngx-uplot [data]="dataForFile"></ngx-uplot>
                            <div class="data-loader" *ngIf="isLoadingDetails">
                                <loading></loading>
                            </div>
                        </mat-tab>
                    </mat-tab-group>
                </as-split-area>
            </as-split>
        </as-split-area>
    </as-split>
</div>

<app-login-form
    [isAccess]="isAccess"
    [settings]="{ dbLink, dbLogin, dbPassword }"
    [errorMessage]="authErrorMessage"
    [successMessage]="authSuccessMessage"
    (ready)="connectToDB($event)"
    (testConnection)="connectToDB($event, true)"
    (changeDbItems)="setDBItems($event)"
></app-login-form>
