<mat-toolbar color="primary" class="ukranian-bg">
    <button
        mat-icon-button
        class="example-icon"
        (click)="isLeftPanel = !isLeftPanel"
    >
        <mat-icon>menu</mat-icon>
    </button>
    <span style="font-size: 20px !important">ClickHouse Mate</span>
    <span class="example-spacer"></span>
    <!-- <span> {{ dbLink }} : {{ dbLogin }} </span> -->
    <button
        [matTooltip]="'READONLY TURN ' + (isReadonly ? 'ON' : 'OFF') + ''"
        mat-icon-button
        class="example-icon"
        (click)="setReadonly(!isReadonly)"
    >
        <mat-icon *ngIf="isReadonly">lock</mat-icon>
        <mat-icon *ngIf="!isReadonly">lock_open</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" (click)="isAccess = !isAccess">
        <mat-icon>settings</mat-icon>
    </button>
</mat-toolbar>

<div style="width: 100%; height: calc(100vh - 4rem)">
    <as-split direction="horizontal" [gutterSize]="5">
        <as-split-area [size]="15" *ngIf="isLeftPanel" [order]="0">
            <mat-accordion>
                <mat-expansion-panel [expanded]="true">
                    <mat-expansion-panel-header>
                        <mat-panel-title> DB Tree </mat-panel-title>
                    </mat-expansion-panel-header>
                    <div *ngIf="this.dbTreeData.length > 0">
                        <tree-filter
                            [data]="dbTreeData"
                            [isFilter]="false"
                            [fileIcon]="true"
                            (clickRow)="onDbChoose($event)"
                        ></tree-filter>
                    </div>
                </mat-expansion-panel>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title> Query Presets </mat-panel-title>
                    </mat-expansion-panel-header>
                    <div
                        class="archive-line"
                        *ngFor="let item of PopularQueries"
                        (click)="SQL(item)"
                    >
                        {{ item }}
                    </div>
                </mat-expansion-panel>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title> Query History </mat-panel-title>
                    </mat-expansion-panel-header>

                    <div
                        *ngFor="let item of SqlArchive"
                        (click)="SQL(item)"
                        class="archive-line"
                    >
                        {{ item }}
                    </div>
                </mat-expansion-panel>
            </mat-accordion>
        </as-split-area>
        <as-split-area
            [size]="85"
            [order]="1"
            style="display: flex; flex-direction: column"
        >
            <as-split direction="vertical" [gutterSize]="5">
                <as-split-area
                    [size]="10"
                    [order]="0"
                    style="position: relative"
                >
                    <ace-editor
                        [(text)]="sqlRequest"
                        [mode]="'sql'"
                        [theme]="'sqlserver'"
                        [readOnly]="false"
                        class="editor"
                        #editor
                    ></ace-editor>

                    <button
                        class="btn-send"
                        matSuffix
                        mat-icon-button
                        matTooltip="Ctrl + Enter"
                        color="primary"
                        aria-label="Run"
                        (click)="onClickRun()"
                    >
                        <mat-icon>send</mat-icon>
                    </button>
                </as-split-area>
                <as-split-area [size]="90">
                    <div class="data-place">
                        <ng-container
                            *ngIf="details.length === 0; else hasData"
                        >
                            <h1>No Data</h1>
                            <button
                                mat-flat-button
                                color="warn"
                                *ngIf="errorMessage"
                                style="white-space: pre-wrap; width: 100%"
                            >
                                {{ errorMessage }}
                            </button>
                        </ng-container>
                        <ng-template #hasData>
                            <div>
                                <button
                                    style="margin-right: 0.5rem"
                                    mat-button
                                    (click)="save('json')"
                                    cdkFocusInitial
                                >
                                    Save as JSON
                                </button>
                                <button
                                    style="margin-right: 0.5rem"
                                    mat-button
                                    (click)="save('json', true)"
                                    cdkFocusInitial
                                >
                                    Save as JSONCompact
                                </button>
                                <button
                                    style="margin-right: 0.5rem"
                                    mat-button
                                    (click)="save('csv')"
                                    cdkFocusInitial
                                >
                                    Save as CSV
                                </button>
                            </div>
                            <custom-ag-grid
                                *ngIf="isObjectData(); else preText"
                                class="example-table-container"
                                [details]="details"
                                [columns]="columns"
                            ></custom-ag-grid>
                            <ng-template #preText>
                                <pre>{{ details }}</pre>
                            </ng-template>
                        </ng-template>
                    </div>
                </as-split-area>
            </as-split>
        </as-split-area>
    </as-split>
</div>
<div class="login-form-group" *ngIf="!isAccess" #login>
    <mat-card class="card">
        <mat-card-content>
            <div style="display: flex; flex-direction: column">
                <div>
                    <img
                        src="assets/image/big-logo.png"
                        style="max-width: 90vw"
                    />
                </div>
                <mat-form-field appearance="fill">
                    <mat-label>ClickHouse HTTP URL</mat-label>
                    <input
                        matInput
                        [(ngModel)]="dbLink"
                        placeholder="//localhost:8123"
                    />
                </mat-form-field>

                <mat-form-field appearance="fill">
                    <mat-label>Username</mat-label>
                    <input
                        matInput
                        [(ngModel)]="dbLogin"
                        placeholder="readonly"
                    />
                </mat-form-field>

                <mat-form-field appearance="fill">
                    <mat-label>Password</mat-label>
                    <input type="password" matInput [(ngModel)]="dbPassword" />
                </mat-form-field>
                <div class="btn-panel">
                    <button
                        style="margin-right: 0.5rem"
                        mat-raised-button
                        (click)="isAccess = !isAccess"
                        cdkFocusInitial
                    >
                        cancel
                    </button>
                    <button
                        mat-raised-button
                        (click)="connectToDB()"
                        color="primary"
                        cdkFocusInitial
                    >
                        Connect to DB
                    </button>
                </div>
            </div>
        </mat-card-content>
    </mat-card>
</div>
