<div class="login-form-group" *ngIf="!isAccess" #login>
    <mat-card class="card">
        <mat-card-content>
            <div style="display: flex; flex-direction: column">
                <div>
                    <img
                        src="assets/image/big-logo.png"
                        style="max-width: 90vw"
                    />
                </div>
                <div
                    class="error-message"
                    mat-flat-button
                    *ngIf="errorMessage"
                >
                    {{ errorMessage }}
                </div>
                <mat-form-field appearance="fill">
                    <mat-label>ClickHouse HTTP URL</mat-label>
                    <input
                        matInput
                        [(ngModel)]="settings.dbLink"
                        placeholder="//localhost:8123"
                    />
                </mat-form-field>

                <mat-form-field appearance="fill">
                    <mat-label>Username</mat-label>
                    <input
                        matInput
                        [(ngModel)]="settings.dbLogin"
                        placeholder="readonly"
                    />
                </mat-form-field>

                <mat-form-field appearance="fill">
                    <mat-label>Password</mat-label>
                    <input
                        type="password"
                        matInput
                        [(ngModel)]="settings.dbPassword"
                    />
                </mat-form-field>
                <div class="btn-panel">
                    <button
                        style="margin-right: 0.5rem"
                        mat-raised-button
                        (click)="isAccess = !isAccess"
                        cdkFocusInitial
                    >
                        cancel
                    </button>
                    <button
                        mat-raised-button
                        (click)="connectToDB()"
                        color="primary"
                        cdkFocusInitial
                    >
                        Connect to DB
                    </button>
                </div>
            </div>
        </mat-card-content>
    </mat-card>
</div>
