<!-- style="width: 100%; height: 100%; min-height: 200px" -->
<!-- class="ag-theme-alpine" -->
<!-- [getRowStyle]="getRowStyle" -->
<!-- [isFullWidthCell]="isFullWidthRow" -->
<ag-grid-angular
    style="min-width: 500px"
    class="ag-theme-material custom"
    [style.height]="'calc(100% - 45px - ' + (isPaginator ? 60 : 9) + 'px)'"
    [rowData]="details"
    [columnDefs]="columns"
    [gridOptions]="gridOptions"
    [pagination]="true"
    [context]="context"
    [getRowHeight]="getRowHeight"
    [fullWidthCellRenderer]="fullWidthCellRenderer"
    [frameworkComponents]="frameworkComponents"
    (gridReady)="onGridReady($event)"
    (sortChanged)="sortChanged($event)"
    (columnMoved)="sortChanged($event)"
    (virtualColumnsChanged)="onResize()"
>
</ag-grid-angular>
<mat-paginator
    [hidden]="!isPaginator"
    class="paginator"
    [length]="totalPages"
    [pageSize]="pageSize"
    [pageSizeOptions]="[25, 50, 100, 200, 500, 1000, 5000]"
    (page)="paginationControls($any($event))"
>
</mat-paginator>
