<button
    mat-icon-button
    [matMenuTriggerFor]="menu"
    class="button-icon-right-top"
>
    <fa-icon icon="cog"></fa-icon>
</button>
<span>{{headerName | titlecase}}</span>
<mat-menu #menu="matMenu">
    <div class="container" (click)="$event.stopPropagation();">
        <span style="display:block; margin-bottom: 5px;">
            <button
                style="margin-right: 0.5rem"
                mat-raised-button
                *ngFor="let item of menuList"
                (click)="menuClick(item)"
                cdkFocusInitial
            >
                {{item}}
            </button>
        </span>
        <div class="file-upload-container">
            <label for="fileSelect" [className]="'fileselect' + (isDragOver ? ' dragOver' : '')"></label>
            <input placeholder="" value="" type="file" id="fileUpload" accept=".csv" #fileUpload multiple="multiple">
        </div>
        <h3 style="text-align: center">Grid settings</h3>        
        <mat-slide-toggle 
        mat-raised-button (click)="togglePaginator()">Pagination</mat-slide-toggle>
        <h3 style="text-align: center">Columns settings</h3>
        <app-drag-drop-list
            [list]="allColumnIds"
            (order)="onUpdateList($event)"
        ></app-drag-drop-list>
    </div>
</mat-menu>
