<div class="wrapper-ace-editor" #wrapperAceEditor>
    <div class="ace-editor-wrapper">
        <ace-editor
            class="editor"
            [text]="sqlRequest"
            [mode]="'sql'"
            [theme]="'sqlserver'"
            [readOnly]="false"
            [options]="{ enableBasicAutocompletion: true }"
            [autoUpdateContent]="true"
            #editor
        ></ace-editor>
    </div>
    <div
        contenteditable="true"
        class="hide-text-container"
        [textContent]="sqlRequest"
        (input)="setRequestData()"
        (mouseup)="mouseUp()"
        (keydown)="keydown($event)"
        #contenteditableContainer
    ></div>
    <button
        class="btn-send"
        matSuffix
        mat-icon-button
        matTooltip="Ctrl + Enter"
        color="primary"
        aria-label="Run"
        (click)="onClickRun('QUERY')"
    >
        <mat-icon>send</mat-icon>
    </button>

    <div
        class="autocomplete-menu"
        [style.display]="
            isAutocompleteVisible && dictionary.length > 0 ? 'block' : 'none'
        "
        #autocomplete
    >
        <div
            *ngFor="let item of dictionary; let i = index"
            class="item"
            [class.selected]="autocompleteSelectorIndex === i"
            (click)="onItemClick(item)"
        >
            {{ item }}
        </div>
    </div>
</div>
