// .dark {
//     filter: invert(0.9);
//     background-color: white;
// }
.wrapper-ace-editor {
    position: relative;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}
.editor {
    min-height: 20px;
    height: 100%;
    width: 100%;
    overflow: auto;
    font-size: 14px;
    font-family: monospace;
}
.btn-send {
    float: right;
    position: absolute;
    right: 1rem;
    bottom: 1rem;
    z-index: 3;
}
.autocomplete-menu {
    position: absolute;
    padding: 0rem;
    min-width: 200px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    max-height: 200px;
    overflow: auto;
    z-index: 2;

    &:focus {
        background-color: Aqua;
    }

    .autocomplete-list-text {
        position: absolute;
        width: 0;
        height: 0;
        line-height: 0;
        font-size: 1px;
        padding: 0;
        margin: 0;
        opacity: 0;
    }

    .item {
        display: flex;
        cursor: pointer;
        padding: 0 0.3rem;
        font-size: 12px !important;
        &.selected {
            background-color: rgba(0, 0, 0, 0.1);
        }
        &:hover {
            background-color: rgba(0, 0, 0, 0.1);
        }
    }
}
.hide-text-container {
    position: absolute;
    top: 0px;
    left: 45px;
    right: 0px;
    z-index: 2;
    bottom: 0px;
    white-space: pre-wrap;
    line-height: 17px;
    color: rgba(0, 0, 0, 0.1);
    caret-color: black;
}
.ace-editor-wrapper {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    z-index: 1;
}
[contenteditable] {
    outline: 0px solid transparent;
}

.customIconSize {
    font-size: 18px !important;
    height: 18px;
    width: 18px;
    opacity: 0.4;
    padding-right: 3px;
}
