<div class="wrapper-ace-editor" #wrapperAceEditor>
    <ace-editor
        class="editor"
        [text]="sqlRequest"
        [mode]="'sql'"
        [theme]="'sqlserver'"
        [readOnly]="false"
        [options]="{ enableBasicAutocompletion: true }"
        [autoUpdateContent]="true"
        (textChange)="textChange($event)"
        #editor
    ></ace-editor>
    <button
        class="btn-send"
        matSuffix
        mat-icon-button
        matTooltip="Ctrl + Enter"
        color="primary"
        aria-label="Run"
        (click)="onClickRun()"
    >
        <mat-icon>send</mat-icon>
    </button>

    <div
        class="autocomplete-menu"
        [style.display]="isAutocompleteVisible && dictionary.length > 0 ? 'block' : 'none'"
        #autocomplete
    >
        <textarea
            class="autocomplete-list-text"
            (keydown)="keydown($event)"
            (keyup)="syncInternalFields()"
            (keypress)="syncInternalFields()"
            tabindex="0"
            #autocompleteForm
        ></textarea>
        <div
            *ngFor="let item of dictionary; let i = index"
            class="item"
            [class.selected]="autocompleteSelectorIndex === i"
            (click)="onItemClick(item)"
        >
            {{ item }}
        </div>
    </div>
</div>
