// @import "~@angular/material/theming";
// /* You can add global styles to this file, and also import other style files */
// @include mat-core();

@use '@angular/material' as mat;

$my-primary: mat.define-palette(mat.$indigo-palette, 300);
$my-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The "warn" palette is optional and defaults to red if not specified.
$my-warn: mat.define-palette(mat.$red-palette);

$my-theme: mat.define-light-theme((
 color: (
   primary: $my-primary,
   accent: $my-accent,
   warn: $my-warn,
 )
));

@include mat.core-theme($my-theme);
@include mat.all-component-themes($my-theme);
html,
body {
    height: 100vh;
    margin: 0;
    overflow: hidden;
    font-family: monospace !important;
}

* {
    font-size: 14px !important;
    font-family: monospace !important;
    /** SAFARY SCROLL FIX */
    ::-webkit-scrollbar {
        -webkit-appearance: none;
        width: 7px;
        height: 7px;
    }

    ::-webkit-scrollbar-thumb {
        border-radius: 4px;
        background-color: rgba(199, 199, 199, 0.748);
        box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
    }
    ::-webkit-scrollbar-corner {
        background: rgba(0, 0, 0, 0);
    }

    scrollbar-width: thin;
    scrollbar-color: rgba(199, 199, 199, 0.748) transparent;
}
// @import "ag-grid-community/dist/styles/ag-grid.css";
// @import "ag-grid-community/dist/styles/ag-theme-alpine.css";

// @import "~ag-grid-community/dist/styles/ag-grid.css";
// @import "~ag-grid-community/dist/styles/ag-theme-balham.css";

@import "~ag-grid-community/dist/styles/ag-grid.css";
@import "~ag-grid-community/src/styles/ag-theme-material/sass/ag-theme-material";
@import "uplot-css.css";

.ag-row-selected {
    background-color: #eee !important;
}

.ag-theme-material .ag-ltr .ag-cell {
    border-right: 1px solid lightgray;
}
.ag-theme-material.custom .ag-ltr .ag-cell {
    line-height: 3;
}

.ag-body-viewport {
    overflow-x: auto !important;
}

.ag-theme-material,
.ag-header-cell,
.ag-cell-wrapper,
.ag-filter-select,
.ag-filter .ag-filter-filter,
.ag-paging-panel {
    font-family: monospace;
}
// adjust the icons path
$ag-mat-icons-path: "~ag-grid-community/src/styles/ag-theme-material/icons/";
$ag-icons-path: "~ag-grid-community/src/styles/ag-theme-base/icons/";

/* ag-grid */
// changes the default icon color
$ag-icon-color: #0077f9;
$ag-icon-checkbox-checked-color: #0077f9;
// changes the selected checkbox check mark color
$ag-accent-color: #0077f9;
$header-height: 50px;
$row-height: 40px;
$row-border-width: 1px;
$hover-color: cornsilk;
$ag-suppress-legacy-var-import: true;

.ag-theme-alpine * {
    font-family: monospace;
}

.ag-cell {
    padding-right: 3px !important;
    padding-left: 3px !important;
    // border: none !important;
    border-right: 1px solid rgba(0, 0, 0, 0.1) !important;
}

// .ag-row {
//     border: none !important;
// }

.ag-header-cell {
    padding-right: 3px !important;
    padding-left: 3px !important;
}

a:not([href]) {
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.ag-row-selected {
    background-color: #eee !important;
}
.ag-theme-material {
    font-size: 14px !important;
}
.ag-theme-material.custom .ag-ltr .ag-cell {
    line-height: 3;
}
.ag-body-viewport {
    overflow-x: auto !important;
}
.ag-cell-value {
    display: block;
    width: 100%;
}
.material-icons {
    font-family: "Material Icons" !important;
    font-size: 24px !important;
}
.dashboard-accordion {

    .mat-expansion-panel-header {
        height: 30px;

        &.mat-expanded {
            height: 30px;
        }
    }
    .mat-expansion-panel-spacing {
        margin: 0;
    }
}

.ace-sqlserver .ace_invalid {
    background-color: transparent !important;
}

.ace_cursor {
    color:transparent !important;
}

.dark {
    filter: invert(0.85) hue-rotate(136deg) brightness(1.5) contrast(1.3);
    background-color: white;
}
.mini-tabs {
    .mat-tab-label {
        height: 2.5rem;
        min-width: 0;
    }
}

.mat-expansion-panel:not([class*=mat-elevation-z]) {
    box-shadow: initial; // 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
}

.mat-expansion-panel .mat-expansion-panel-header, .mat-expansion-panel:not(.mat-expanded) .mat-expansion-panel-header:hover:not([aria-disabled=true]) {
    background: #f4f5f5; // rgba(0,0,0,.04);
    border-bottom: 1px solid #ccc;
}
.mat-expansion-panel-header {
    background-color: #f4f5f5 !important;
    border-radius: 0;
    // font-family: Roboto, "Helvetica Neue", sans-serif;

}
.mat-expansion-panel-header {
    font-size: 15px;
    font-weight: 400;
}
