/* .my-chart {
    display: flex;
} */

.u-wrap {
    position: relative;
    user-select: none;
}
.u-over,
.u-under,
.u-axis {
    position: absolute;
}
.u-under {
    overflow: hidden;
}
/* .uplot canvas {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
} */
.u-legend {
    margin: auto;
    text-align: center;
    margin-top: 1em;
    font-family: Liberation Mono, DejaVu Sans Mono, MonoLisa, Consolas, monospace;
}
.u-inline {
    /* position: absolute; */
    display: block;
}
.u-inline * {
    display: inline-block;
}
.u-inline tr {
    border-radius: 5rem;
    /* background: rgba(0,0,0,0.05); */
    /* margin: 4px; */
    /* padding: 0 7px; */
    /* margin-right: 16px; */
}
.u-legend th {
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
}
.u-legend th > * {
    vertical-align: middle;
    display: inline-block;
}
.u-legend td {
    min-width: 13em;
    /* margin-top: -1rem; */
}
.u-legend .u-marker {
    width: 1em;
    height: 1em;
    margin-right: 4px;
    background-clip: padding-box !important;
}
/* .u-inline.u-live th::after {
    content: ":";
    vertical-align: middle;
} */
.u-inline:not(.u-live) .u-value {
    display: none;
}
.u-series > * {
    padding: 4px;
}
.u-series th {
    cursor: pointer;
}
.u-legend .u-off > * {
    opacity: 0.3;
}
.u-select {
    background: rgba(0, 0, 0, 0.09);
    position: absolute;
    pointer-events: none;
}
.u-cursor-x,
.u-cursor-y {
    position: absolute;
    left: 0;
    top: 0;
    pointer-events: none;
    will-change: transform;
    z-index: 100;
}
.u-hz .u-cursor-x,
.u-vt .u-cursor-y {
    height: 100%;
    border-right: 1px dashed #607d8b;
}
.u-hz .u-cursor-y,
.u-vt .u-cursor-x {
    width: 100%;
    border-bottom: 1px dashed #607d8b;
}
.u-cursor-pt {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 50%;
    border: 0 solid;
    pointer-events: none;
    will-change: transform;
    z-index: 100;
    background-clip: padding-box !important;
}
.u-axis.u-off,
.u-select.u-off,
.u-cursor-x.u-off,
.u-cursor-y.u-off,
.u-cursor-pt.u-off {
    display: none;
}
