<mat-card class="example-card">
    <mat-card-title>Share link configurator</mat-card-title>
    <mat-card-subtitle>Kiosk mode of share link</mat-card-subtitle>

    <mat-card-content>
        <div class="link">
            {{ link }}
            <div class="button-icon-list">
                <button mat-icon-button style="margin-right: 1rem" (click)="copyUrl()">
                    <mat-icon>file_copy</mat-icon>
                </button>
                <button mat-icon-button (click)="openNewTab()">
                    <mat-icon>open_in_new</mat-icon>
                </button>
            </div>
        </div>
        <div class="flex-row">
            <div class="flex-col">
                <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>SQL-Query</mat-label>
                    <textarea
                        matInput
                        [(ngModel)]="config.query"
                        placeholder="SQL-Query"
                    ></textarea>
                </mat-form-field>
                <mat-form-field class="example-form-field" appearance="fill">
                    <mat-label>db_host</mat-label>
                    <input
                        matInput
                        type="text"
                        [(ngModel)]="config.db_host"
                        [disabled]="!config.kiosk"
                    />
                </mat-form-field>
                <mat-form-field class="example-form-field" appearance="fill">
                    <mat-label>db_login</mat-label>
                    <input
                        matInput
                        type="text"
                        [(ngModel)]="config.db_login"
                        [disabled]="!config.kiosk"
                    />
                </mat-form-field>
                <!-- <mat-form-field class="example-form-field" appearance="fill">
                    <mat-label>db_pass</mat-label>
                    <input matInput type="text" [(ngModel)]="config.db_pass" />
                </mat-form-field> -->
            </div>
            <div class="flex-col">
                <mat-slide-toggle color="primary" [(ngModel)]="config.kiosk"
                    >is kiosk mode</mat-slide-toggle
                >
                <mat-slide-toggle
                    color="primary"
                    [(ngModel)]="config.mode"
                    [disabled]="!config.kiosk"
                    >is dark mode</mat-slide-toggle
                >
                <mat-slide-toggle
                    color="primary"
                    [(ngModel)]="config.table"
                    [disabled]="!config.kiosk"
                    >show table</mat-slide-toggle
                >
                <mat-slide-toggle
                    color="primary"
                    [(ngModel)]="config.chart"
                    [disabled]="!config.kiosk"
                    >show chart</mat-slide-toggle
                >
                <mat-slide-toggle
                    color="primary"
                    [(ngModel)]="config.panel"
                    [disabled]="!config.kiosk"
                    >show left panel</mat-slide-toggle
                >
                <mat-slide-toggle
                    color="primary"
                    [(ngModel)]="config.query_field"
                    [disabled]="!config.kiosk"
                    >Show the SQL-Query field</mat-slide-toggle
                >
            </div>
        </div>
        <!-- <p>{{longText}}</p> -->
    </mat-card-content>
    <mat-card-actions>
        <button mat-button (click)="onNoClick()">Close</button>
    </mat-card-actions>
</mat-card>
